.item-card {
    background-color: #eeeef7;
    border-radius: 10px;
    padding: 10px;
    min-height: 10vh;
}

.quantity-input {
    width: 30%;
    max-width: 50px;
    border: none;
    height: 25px;
    text-align: center;
}

.item-card button {
    border: none;
}

.item-card button:hover {
    cursor: pointer;
}

.increment,
.decrement {
    width: 25px;
    height: 25px;
    background-color: #5597d4;
    color: #eeeef7;
}

.decrement {
    border-radius: 5px 0 0 5px;
}

.increment {
    border-radius: 0 5px 5px 0;
}

.add-to-cart {
    background-color: #8697a8;
    width: calc(30% + 50px);
    max-width: 100px;
    padding: 5px 0;
    border-radius: 5px;
}
