.card {
    background-color: #eeeef7;
    border-radius: 10px;
    padding: 10px;
    min-height: 10vh;
    border: 1px solid #363d5d;
}

.card img {
    width: 50px;
}

.quantity-input {
    width: 30%;
    max-width: 50px;
    border: none;
    height: 25px;
    text-align: center;
}

.item-card button {
    border: none;
}

.item-card button:hover {
    cursor: pointer;
}

.increment,
.decrement {
    width: 25px;
    height: 25px;
    background-color: #5597d4;
    color: #eeeef7;
}

.decrement {
    border-radius: 5px 0 0 5px;
}

.increment {
    border-radius: 0 5px 5px 0;
}

.add-to-cart {
    background-color: #8697a8;
    width: calc(30% + 50px);
    max-width: 100px;
    padding: 5px 0;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    margin-left: 10px;
}

@media (max-width: 765px) {
    .add-to-cart {
        margin-left: 0;
        margin-top: 10px;
    }
}

.add-to-cart:hover {
    background-color: #3d75b9;
    color: #eeeef7;
    font-weight: bold;
}

.remove-from-cart {
    background-color: #9f1a21;
    color: #eeeef7;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.item-card .cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cost img {
    width: 10px;
}

.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms ease-in-out;
}
