#shop {
    position: relative;
    height: 2000px;
}

#cart-preview {
    position: fixed;
    top: 12vh;
    right: 20px;
}

#num-of-items {
    background-color: #bf433b;
    color: #eeeef7;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

#checkout-btn {
    display: block;
    background-color: #3d75b9;
    border: none;
    color: #eeeef7;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    transition: background-color 300ms;
}

#checkout-btn:hover {
    cursor: pointer;
    background-color: #275597;
    font-weight: 800;
}

#item-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10vh 10px 0 10px;
}
