#shop {
    position: relative;
}

#cart-preview {
    position: fixed;
    top: 11vh;
    right: 20px;
    background-color: #c2d4e5;
    box-shadow: 0 0 15px 20px #c2d4e5;
}

#cart-preview a {
    text-decoration: none;
}

#num-of-items {
    background-color: #bf433b;
    color: #eeeef7;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

#checkout-btn {
    display: block;
    background-color: #3d75b9;
    border: none;
    color: #eeeef7;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out;
}

#checkout-btn:hover {
    cursor: pointer;
    background-color: #275597;
    font-weight: 800;
}

#item-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 6vh 10px 6vh 10px;
}

@media (max-width: 400px) {
    #item-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

.category-link {
    text-decoration: none;
    color: #c2453d;
    transition: color 200ms ease-in-out;
}

.category-link:hover {
    color: #f7c27e;
}

.category-link:hover .category-card {
    background-color: #8697a8;
}

.back-btn-link {
    position: absolute;
    top: 13vh;
    left: 20px;
}

.back-btn {
    background-color: #f7c27e;
    border: none;
    color: #275597;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out,
        transform 300ms ease-in-out;
    box-shadow: -2px 2px #275597;
}

.back-btn:hover {
    background-color: #c2453d;
    font-weight: bold;
    color: #eeeef7;
    cursor: pointer;
    box-shadow: 0 0;
    transform: translate(-2px, 2px);
}
