* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2d4e5;
    color: #333a5b;
    font-family: sans-serif;
    text-align: center;
}

section {
    margin-top: 12vh;
}

h1 {
    text-align: center;
    /* margin: 20px auto; */
    font-size: 2em;
}

#pokemart {
    width: 80vw;
    max-width: 600px;
    margin-top: 20px;
}
