* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2d4e5;
    color: #333a5b;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

button {
    font-family: 'Barlow', sans-serif;
}

section {
    margin-top: 10vh;
    height: 90vh;
    background: linear-gradient(#c2d4e5, #8fcbf7);
    overflow-y: scroll;
}

.section-title {
    background: linear-gradient(90deg, #eeeef7, #c2d4e5 80%);
}

.section-title h2 {
    text-align: left;
    font-size: 2em;
    margin-left: 20px;
    height: 12vh;
    display: flex;
    align-items: center;
}

#pokemart {
    width: 80vw;
    max-width: 600px;
    margin-top: 20px;
}
